# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration (PostgreSQL / Supabase)
DATABASE_URL="postgresql://username:password@host:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://username:password@host:5432/postgres"

# Frontend URL
FRONTEND_URL=http://localhost:5173

# ICICI Payment Gateway Mode: "icici" or "mock"
PAYMENT_PROVIDER=icici
IS_TEST_ENVIRONMENT=true

# ICICI Bank Merchant UAT / Production Credentials
ICICI_MERCHANT_ID=100000000007164
ICICI_AGGREGATOR_ID=A100000000007164
ICICI_SECRET_KEY=db06cca0-838b-4e01-8b20-6ac446ffb6bd

# API Endpoints
ICICI_API_BASE_URL=https://pgpayuat.icicibank.com/tsp/pg/api/v2
ICICI_COMMAND_URL=https://pgpayuat.icicibank.com/tsp/pg/api/command
ICICI_SETTLEMENT_URL=https://pgpayuat.icicibank.com/tsp/pg/api/settlementDetails

ICICI_RETURN_URL=http://localhost:5000/api/payment/callback
ICICI_ADVICE_URL=http://localhost:5000/api/payment/advice
ICICI_SETTLEMENT_ADVICE_URL=http://localhost:5000/api/payment/settlement-advice
